* {box-sizing: border-box;}
html, body {
    height: 100%;
    width: 100%;
}
.main {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    background-color: #333;
}
.card {
    border: 2px solid #333;
    width: 31%;
    margin: 1%;
}
.label {
    text-align: center;
    color: #fff;
    background: #333;
}
.content {
    text-align: center;
}
.stjohns-page .label{
    background: green;
}
.stjohns-page .card {
    border:2px solid green;
}
