@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap');

* {box-sizing: border-box;}
html, body {
    height: 100%;
    width: 100%;
    background-color: #E7EFF8;
}

/* START of Mobile Menu */
.nav {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}
.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}
.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: white;
  height: 70px;
  line-height: 70px;
}
.menu-mobile {
  display: none;
}
/* END OF Mobile Menu */



.homepage header{
    background-color: #FF5301;
    position: fixed;
    height: 50px;
}

.homepage .logo{
    width: 20%;
    padding-top: 6px;
}
body{
font-family: "Raleway";
}
img{
    width: 100%;
}
.homepage main{
display: flex;
width: 80%;
margin: auto;
padding-top: 250px;
}
.homepage .headings a{
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: #FF5301;
}

.homepage main div{
    flex: 1;
    }

.content {
    text-align: center;
}


.stjohns-page header{
    background-color: #90AF45;
    position: fixed;
    height: 50px;
}

.stjohns-page .logo{
    width: 20%;
    padding-top: 6px;
}

.stjohns-page .page-title{
    display: flex;
    justify-content: center;
    padding-left: 417px;
}
.stjohns-page .page-title .left{
    flex:10%;
    padding-top: 200px;
}
.stjohns-page .page-title .right{
    flex:80%;
    padding-top: 189px;
}
.stjohns-page .menu-mobile {
    background-color: #90AF45;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: "Raleway";
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
.stjohns-page .menu-mobile a:hover {
    color: #FF5301;
  }
.stjohns-page h2{
    color: #90AF45;
    font-size: 64px;
}

.stjohns-page p{
    width: 42%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 144px;
    margin: auto;
    font-size: 16px;
}
.stjohns-page .label{
    background: #90AF45;
    width: 260px;
    height: 69px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
}
.stjohns-page .card{
    display: flex;
    flex-wrap: wrap;
    width:25%;
    margin:1%;
    border: 5px solid #90AF45;
    place-content: center;
}
.stjohns-page main{
    display:flex;
    flex-wrap:wrap;
    width:70%;
    margin:auto;
    padding-bottom: 200px;
    padding-left: 170px;
}

.nob-hill-page header{
    background-color: #FF5301;
    position: fixed;
    height: 50px;
}

.nob-hill-page .logo{
    width: 20%;
    padding-top: 6px;
}
.nob-hill-page .page-title{
    display: flex;
    justify-content: center;
    padding-left: 417px;
}
.nob-hill-page .page-title .left{
    flex:10%;
    padding-top: 200px;
}
.nob-hill-page .page-title .right{
    flex:80%;
    padding-top: 189px;
}
.nob-hill-page .menu-mobile {
    background-color: #FF5301;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: "Raleway";
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
.nob-hill-page .menu-mobile a:hover {
    color: #FFDF59;
  }
.nob-hill-page h2{
    color: #FF5301;
    font-size: 64px;
}
.nob-hill-page p{
    width: 45%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 144px;
    margin: auto;
    font-size: 16px;
}
.nob-hill-page .label{
    background: #FF5301;
    width: 260px;
    height: 69px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
}
.nob-hill-page .card{
    display: flex;
    flex-wrap: wrap;
    width:25%;
    margin:1%;
    border: 5px solid #FF5301;
    place-content: center;
}
.nob-hill-page main{
    display:flex;
    flex-wrap:wrap;
    width:70%;
    margin:auto;
    padding-bottom: 200px;
    padding-left: 170px;
}

.pioneer-square header{
    background-color: #FFDF59;
    position: fixed;
    height: 50px;
}

.pioneer-square .logo{
    width: 20%;
    padding-top: 6px;
}
.pioneer-square .page-title{
    display: flex;
    justify-content: center;
    padding-left: 480px;
}
.pioneer-square .page-title .left{
    flex:10%;
    padding-top: 200px;
}
.pioneer-square .page-title .right{
    flex:80%;
    padding-top: 189px;
}
.pioneer-square .menu-mobile {
    background-color: #FFDF59;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: "Raleway";
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
.pioneer-square .menu-mobile a:hover {
    color: #FF5301;
  }
.pioneer-square h2{
    color: #FF5301;
    font-size: 64px;
}
.pioneer-square p{
    width: 42%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 144px;
    margin: auto;
    font-size: 16px;
}
.pioneer-square .label{
    background: #FFDF59;
    width: 260px;
    height: 69px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #FF5301;
}
.pioneer-square .card{
    display: flex;
    flex-wrap: wrap;
    width:25%;
    margin:1%;
    border: 5px solid #FFDF59;
    place-content: center;
}
.pioneer-square main{
    display:flex;
    flex-wrap:wrap;
    width:70%;
    margin:auto;
    padding-bottom: 200px;
    padding-left: 170px;
}

.hawthorne-asylum header{
    background-color: #FF9E01;
    position: fixed;
    height: 50px;
}

.hawthorne-asylum .logo{
    width: 20%;
    padding-top: 6px;
}
.hawthorne-asylum .page-title{
    display: flex;
    justify-content: center;
    padding-left: 400px;
}
.hawthorne-asylum .page-title .left{
    flex:10%;
    padding-top: 200px;
}
.hawthorne-asylum .page-title .right{
    flex:80%;
    padding-top: 189px;
}
.hawthorne-asylum .menu-mobile {
    background-color: #FF9E01;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: "Raleway";
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
.hawthorne-asylum .menu-mobile a:hover {
    color: #90AF45;
  }
.hawthorne-asylum h2{
    color: #FF9E01;
    font-size: 64px;
}
.hawthorne-asylum p{
    width: 38%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 144px;
    margin: auto;
    font-size: 16px;
}
.hawthorne-asylum .label{
    background: #FF9E01;
    width: 260px;
    height: 69px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
}
.hawthorne-asylum .card{
    display: flex;
    flex-wrap: wrap;
    width:25%;
    margin:1%;
    border: 5px solid #FF9E01;
    place-content: center;
}
.hawthorne-asylum main{
    display:flex;
    flex-wrap:wrap;
    width:70%;
    margin:auto;
    padding-bottom: 200px;
    padding-left: 170px;
}

footer{
    width: 20%;
    margin: auto;
}