@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap');
* {box-sizing: border-box;}
html, body {
    height: 100%;
    width: 100%;
}
body{
font-family: "Raleway";
}
.homepage main{
display: flex;
width: 70%;
margin:auto;
}
img{
    width: 100%;
}
.homepage main div{
    flex: 1;
    }
.main {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    background-color: #333;
}
.card {
    border: 2px solid #333;
    width: 31%;
    margin: 1%;
}
.label {
    text-align: center;
    color: #fff;
    background: #333;
}
.content {
    text-align: center;
}
.stjohns-page .label{
    background: green;
}
.stjohns-page .card {
    border:2px solid green;
}
